@use 'sass:map';

$grey-60: #999999;
$grey-50: #808080;
$grey-40: #666666;
$grey-30: #4d4d4d;
$grey-20: #333333;
$grey-15: #262626;
$grey-10: #1a1a1a;
$grey-08: #0c0c0c;

$pink-60: #ff6ba4;
$pink-50: #f75895;
$pink-40: #ff3b85;

$white: #ffffff;
$black: #000000;

$colors: (
    'grey-60': $grey-60,
    'grey-50': $grey-50,
    'grey-40': $grey-40,
    'grey-30': $grey-30,
    'grey-20': $grey-20,
    'grey-15': $grey-15,
    'grey-10': $grey-10,
    'grey-08': $grey-08,
    'pink-60': $pink-60,
    'pink-50': $pink-50,
    'pink-40': $pink-40,
    'white': $white,
    'black': $black,
);

@function get-color($name) {
    @return map.get($colors, $name);
}
