@use '@/shared/styles/variables.modules.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

:root {
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-scrollbar-thumb: #73737379;
    --color-scrollbar-thumb-hover: #737373;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unbounded', 'Manrope', 'Montserrat', Inter, system-ui, Avenir, Helvetica, Arial,
        sans-serif;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: get-color('grey-08');
        border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-scrollbar-thumb);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--color-scrollbar-thumb-hover);
    }
}

html,
body {
    height: 100%;
}

body {
    background: get-color('grey-08');
    --gap: 5em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.042);

    background-image: linear-gradient(
            -90deg,
            transparent calc(var(--gap) - var(--line)),
            var(--color) calc(var(--gap) - var(--line) + 1px),
            var(--color) var(--gap)
        ),
        linear-gradient(
            0deg,
            transparent calc(var(--gap) - var(--line)),
            var(--color) calc(var(--gap) - var(--line) + 1px),
            var(--color) var(--gap)
        );
    background-size: var(--gap) var(--gap);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    background: get-color('grey-08');
    padding: 16px 16px;
    border: none;
    color: $white;
    border: 1px solid #262626;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        background: get-color('pink-60');
    }
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.app {
    color: get-color('white');
}
